services:
  mariadb:
    image: mariadb:11
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: cosc471
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 5s
      retries: 5

  frontend:
    restart: always
    build:
      context: .
      dockerfile: ./front.dockerfile
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
    ports:
      - 5009:5009
    depends_on:
      - backend

  backend:
    restart: always
    build:
      context: .
      dockerfile: ./back.dockerfile
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/src:/app/src
      - backend_node_modules:/app/node_modules
    ports:
      - 5008:5008
    depends_on:
      mariadb:
        condition: service_healthy

volumes:
  mysql_data:
  backend_node_modules: