.Button {
  appearance: none;
  background: var(--button-primary);
  color: var(--background-primary);

  border: none;
  border-radius: 4px;

  padding: 12px;

  font-weight: bold;
  font-size: 1rem;
}

.Button.secondary {
  background: var(--button-secondary);
}

.Button:disabled {
  background: var(--button-disabled);
  color: var(--text-secondary);
}

.Button:hover:not(:disabled) {
  cursor: pointer;
  filter: brightness(1.1);
}