.ClassCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 360px;
  height: 240px;

  border-radius: 6px;
  border: 1px solid var(--text-secondary);

  /* Cut text off */
  overflow: hidden;

  user-select: none;
  cursor: pointer;

  /* Shadow */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);

  transition: all 0.1s ease-in-out;
}

.ClassCard:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3)
}

.ClassCard img {
  width: 100%;
  height: 50%;

  border-radius: 6px 6px 0 0;

  object-fit: cover;
}

.ClassInfo {
  width: 100%;
  height: 50%;

  text-align: left;
}

.ClassInfo > * {
  margin: 0.75rem;
}

.ClassInfo h2 {
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.ClassInfo p {
  color: var(--text-secondary);
  font-size: 1rem;
}