.assignmentTables {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.table {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--background-secondary);
    /* background-color: var(--background-secondary); */
    margin: 0 10px;
}

.table .groupNames {
  align-items: center;
  justify-content: center;

  background: #eee;
  padding: 4px 0;
}

.AssignmentPage button {
  padding: 8px;
  border: none;
  background-color: var(--button-primary);
  color: #fff;
  font-size: 16px;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.AssignmentPage button:hover {
  filter: brightness(0.9);
}

.AssignmentPage  button,
.table .StudentName {
  margin: 10px;
  margin-left: 20px;
}

.table tr {
  width: 100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  transition: all 0.1s ease-in-out;
}

.table tr:not(.groupNames):hover {
  background-color: var(--background-secondary);
}

.table th {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid var(--background-secondary);
}

.groupNames {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    position: relative;
}

.GroupArrow {
  position: absolute;
  top: 4px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.GroupArrow img {
  width: 100%;
  height: 100%;
}

.groupNames.selected .GroupArrow {
  transform: rotate(90deg);
}

.AssignmentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.groupNameInput{
  width: 15%;
}