.Class{
    display:block;
    width: 100%;
    height: 100%;
    margin: 12px;
}

.Assignments{
    display: flex;
    flex-direction: row;
    padding: 12px;
    align-items: left;
    width: 100%;
}

.Assignments ul {
    width: 100%;
    list-style: none;
    margin: 8px;
    padding: 0px;
}

.ClassHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.ClassHeaderLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}


.AssInputChunk {
  
    margin: 8px;
  
    width: 30%;
  
    background-color: #fff;
  
    
  }

  
.AssInput {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-bottom: 12px;
  
    width: 100%;
  }