.ClassMemberList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

.Member {
  width: 80%;

  padding: 10px;
  margin: 12px;

  border-bottom: 1px solid var(--background-secondary);
}

.Member:hover {
  cursor: pointer;
  background-color: var(--background-secondary);
}