.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  background-color: #fff;
}

.LoginPage h1 {
  margin: 16px;
}

.LoginBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin: 8px;
  padding-bottom: 16px;

  height: 50%;
  width: 30%;

  background-color: #fff;

  min-height: 300px;
  max-height: 400px;
}

.LoginInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.LoginButton {
  margin-bottom: 16px;
}

.LoginInputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 12px;

  width: 100%;
}

.LoginInputChunk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin: 12px;
}