.Profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem;
}

.Profile .profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.Profile .profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Profile .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1rem;
}

.Profile .profile-info h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}