.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--background-primary);
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

h1 {
  margin: 0;
  font-weight: 600;
}

h2 {
  margin: 4px 0;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-weight: 600;
}