:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color vars */
  --text-primary: #000;
  --text-secondary: #4d4d4d;

  --background-primary: #fff;
  --background-secondary: #dcdcdc;
  --background-tertiary: #b5b5b5;

  --button-primary: #4bd530;
  --button-secondary: #999;
  --button-disabled: var(--text-secondary);
}

body {
  margin: 0;
}